diamond/*
ellipse/*
line/*
.idea/*
*.iml
try.py
data/*
data_1000/*
data_2000/*
augmented_training_data/*
neural_net experiments/linear/*
neural_net experiments/fcnet/*
neural_net experiments/model2/*
neural_net experiments/model1/*
neural_net experiments/data/*
neural_net experiments/results/*
__pycache__/*
